.side-bar {
    color: wheat;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 60px;
    bottom: 0;
    width: 100px;
    background-color: rgb(255, 255, 255);
    z-index: 10;
}

.home-link {
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-link:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.home-link img {
    height: 45px;
    margin: 5px;
}

.home-text {
    color: black;
}

.folder-link {
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.folder-link:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.folder-link img {
    height: 30px;
    margin: 5px;
}

.folder-text {
    color: black;
}

.video-link {
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-link:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.video-link img {
    height: 45px;
    margin: 5px;
}

.video-text {
    color: black;
}