.thumbnail {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.profile-picture {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50px;
}

.video-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
    cursor: pointer;
}

.video-author,
.video-stats {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 1px;
    color: rgb(74, 74, 74);
}

.thumbnail-row {
    margin-bottom: 12px;
    position: relative;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    column-gap: 10px;
    row-gap: 50px;
    /* max-width: 1920px; */
}

@media (min-width: 700px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1500px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1800px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 2200px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 2500px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 3500px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 4500px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.video-time {
    background-color: black;
    color: white;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    padding: 4px;
    border-radius: 10px;
}

.video-preview {
    max-width: 400px;
}